<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870921369118-rg39bnc679thoi8v17rno1valtbuun3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870921369118-rg39bnc679thoi8v17rno1valtbuun3c</string>
	<key>API_KEY</key>
	<string>AIzaSyCtLok9LCJhxEjm_l5D3oY98r5n_QqKrFk</string>
	<key>GCM_SENDER_ID</key>
	<string>870921369118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dexter.dCartAdmin</string>
	<key>PROJECT_ID</key>
	<string>dcartapps</string>
	<key>STORAGE_BUCKET</key>
	<string>dcartapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870921369118:ios:d8d5947b42d2b9eedc600f</string>
</dict>
</plist>